*{
    margin: 0;
    padding: 0;
}

.container_image{
    position: relative;
    overflow: hidden;/*oculta la parte de la iamgen que sobresale del div*/
    height:600px;
}

.container_image img{
    position: absolute;
    transform: translate(0,-145px);
  
}
.image_info{
    position: absolute;
    color: white;
    top:185px;
    right: 120px;
    left: 730px;
    text-align: right;

}


/*
.image_info h1{
    position: absolute;
    color: white;
    right:130px;
    top:200px
}

.image_info p{
    position: absolute;
    color: white;
    font-size: 18px;
    right:130px;
    top:260px;
    left: 800px;
    text-align: right;
}

.image_info .buttons{
    position: absolute;
    top:430px;
    right:130px;
}
*/

.card-text{
    text-align: left;
    font-size: 0.80rem;
}

.BsAs_info{
    text-align: left;
    font-size: 0.80rem;
}

textarea::placeholder{
    font-size: 25px;
}


footer{
    background-color: rgb(30,79, 109);
}
h1{
    font-size: 3vw;
}

p{
    font-size: 1.2vw;
}

